@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="container">
    <h1>Bappa pics</h1>
    <img src="~/images/pexels-aarti-vijay-2900315.jpg" alt="Bapa Pic" class="Bappa" />
    <hr>
    <button value=" Click on me" class="btn btn-danger"> click here </button>
    <p>My Address is near ramanand nagar raod jalgaon</p>

</body>
<script src="~/lib/jquery/jquery.js"></script>
</html> 

<script>
    $(document).ready(function () {
        alert("Page Loaded");
    })
</script>